@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista roli</h2>

@Html.ActionLink("Utwórz nową role", "Create")
<hr />
<div>
    @foreach (var role in Model)
    {
        <p>
            <strong>@role.Name | </strong>
            <span onclick="return confirm('Czy na pewno chcesz usunąć?')"><a href="/Roles/Delete?RoleName=@role.Name" class="delLink" style="color:red;">Usuń</a></span> |
            @Html.ActionLink("Edytuj", "Edit", new { roleName = @role.Name })
        </p>
    }
</div>