@model Rehau_TMS.ViewModels.ReportsViewModel
@{
    ViewBag.Title = "Raport";
}

<h2>Raporty</h2>
<br />
@using (Html.BeginForm("Index", "Report", FormMethod.Get))
{
    <div class="form-inline">
        @Html.TextBox("startDate", DateTime.Today.ToShortDateString(), new { @class = "form-control datepicker", type = "date", required = "required"})
        @Html.TextBox("endDate", DateTime.Today.ToShortDateString(), new { @class = "form-control datepicker", type = "date", required = "required" })

        <button class="btn btn-default" type="submit">Generuj dane</button>
    </div>
    <br />
}
@if (Model.Schedules == null)
{
    <p>@Model.EmptyModelMessage</p>
}
else
{
    @Html.Partial("_WorkTypeReportPartial")
}

